#inicio {
    display: flex;                   
    justify-content: center;         
    align-items: center;             
    height: 90vh;                    
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    width: 100vw;
    margin: 0; 
    padding: 0.5em; 
    box-sizing: border-box; 
}

.inicio-contenedor {
    display: flex;                   
    flex-direction: row;             
    gap: 2%;                         
    width: 100%;
    flex-wrap: wrap;                 
    max-height: 700px;               
}

section {
    padding: 1em;
    text-align: center;
}