/* Sección: Proyectos */
#proyectos {
    padding: 5% 0;
}

.proyectos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
    padding: 3%;
    margin: 3% auto;
    max-width: 1700px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    color: #fff;
}

.proyecto {
    text-align: center;
    padding: 20px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.5;
}

.proyecto.visible {
    transform: scale(1.1);
    opacity: 1;
}

.proyecto img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}
.proyecto img[alt="Tetris"] {
    width: 80%; 
    max-width: 200px;
    height: auto; 
}


.titulo-proyecto {
    color: #994e10;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .proyectos-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .proyecto {
        padding: 10px;
    }
}