/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background: url('../img/FondoPantalla.jpg') no-repeat center center fixed; 
    background-size: cover; 
}
  
main {
    padding: 70px 0;
}

/*--------------------------------------------------------------------------------------------------------------------------Seccion: Cabecera*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 19px 20px;
    transition: background 0.3s;
    z-index: 1000;
    backdrop-filter: blur(2px); 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}


.header-name {
    font-size: 1.5em; 
    color: #1d1d1d; 
}


header nav ul {
    display: flex; 
    list-style: none; 
    justify-content: flex-end; 
    padding: 0; 
    margin: 0;
}
  
header nav ul li {
    margin: 0 50px 0 10px;
}
  
header nav ul li a {
    text-decoration: none;
    color: #1d1d1d; 
    font-weight: bold;
    transition: color 0.3s; 
}
header nav ul li a:hover {
    color: #ec3c1d; 
}
#btn_inicio{
    color: #ec3c1d;
}
#header.scrolled nav ul li a:hover {
    color: #ec3c1d; 
}

#header.scrolled #btn_inicio{
    color: #ec3c1d;
}
  
#header.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}
  
#header.scrolled nav ul li a {
    color: #fff; 
}
  
#header.scrolled .header-name {
    color: #fff; 
}
/*------------------------------Menu hamburguesa*/




/*--------------------------------------------------------------------------------------------Seccion: Inicio*/
#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgba(51, 51, 51, 0.9); 
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    width: 100vw;
    margin: 0; 
    padding: 0.5em; 
    box-sizing: border-box; 
}

section {
    padding: 10px;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.9);
}

/*----------------------------------------Inicio: Bienvenida*/

#typed-text {
    display: inline-block;
    min-width: 250px; /* Ajusta este valor para que abarque el texto más largo */
    text-align: center;
    white-space: nowrap;
    height: 1.5em; /* Para asegurar una altura constante */
}



@keyframes blink {
    50% {
        opacity: 0.5;
    }
}


/*----------------------------------------Inicio: Bienvenida-sobreMi*/
.inicio-contenedor {
    display: flex;             
    flex-direction: row;      
    flex-wrap: wrap;        
    justify-content: space-between; 
    gap: 10%;
}

#bienvenida, 
#sobre-mi {
    flex: 1;                 
    min-width: 300px;      
    margin: 10px;            
}

@media (max-width: 768px) {
    #bienvenida {
        margin-top: 120px; /* Aumenta el margen en pantallas pequeñas */
    }
    .inicio-contenedor {
        flex-direction: column;
    }
}


/*---------------------------------------Seccion: Inicio-Foto Perfil*/
section#bienvenida{
    border-radius: 10px;
}
.image-container {
    position: relative; 
    display: inline-block; 
}

.foto-perfil {
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    display: block; 
}




/*------------------------------------------Seccion: Inicio-Sobre mi*/
section#sobre-mi {
    background-color: rgba(51, 51, 51, 0.9); 
}

#sobre-mi {
    width: 80%; 
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

/*--------------------------------------------------------------------------------------------------------------------------Seccion: Proyectos*/
#proyectos h2 {
    color: #f4f4f4; 
    font-size: 2em; 
    margin-bottom: 0px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    min-width: 100%; 
    text-align: center;
    color: #fff; 
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}


.carousel-item img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.carousel-item p {
    margin-top: 10px;
    font-size: 1.1em;
}


/* ----------------------Proyectos: Botones de navegación */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-btn.prev {
    left: 0;
}

.carousel-btn.next {
    right: 0;
}

/*--------------------------------------------------------------------------------------------------------------------------Seccion: Contacto*/
#contacto {
    padding-top: 0.1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: #f4f4f4;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 50px; 
}

.contact-icons a {
    display: inline-block;
    transition: transform 0.3s ease;
}

.contact-icons img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

.contact-icons a:hover img {
    transform: scale(1.2); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}

/* ---------------------------------Contacto: Iconos */
.imgIconoGitHub,
.imgIconoGmail,
.imgIconoWhatsApp,
.imgIconoLinkedin {
    width: 40px; 
    height: auto; 
    border-radius: 10px; 
}

/*----------------------------------------------------------------------------------Footer*/

footer {
    text-align: center;
    position: relative;
    padding: 0; 
    margin: 0; 
}
